@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>Glowing Grid</title>
    <link rel="stylesheet" type="text/css" href="~/css/animation.css">
</head>
<body>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;">
        <span style="background-color: white; font-size: 6rem; color: black; border: 5px solid black; white-space: nowrap;">Inventory Management System</span>
    </div>

    <div id="grid"></div>
    <script src="~/js/script.js"></script>
</body>
</html>
