@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
    <body>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title> DASHBOARD </title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" type="text/css" href="~/css/animation.css">
</head>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;"></div>
        <span style=" background-color: white; font-size: 4.7rem; color: black; border: 5px solid black; white-space: nowrap;">Inventory Management System</span>
 

    <div id="grid"></div>
    <script src="~/js/script.js"></script>


</body>
</html>
