
@using Moonwalkers.Models
@model List<InventoryCategory>

<h1>All Inventory Category</h1>
<!--- <p>
    <a asp-controller="Inventory" asp-action="Add">Add Inventory</a>
</p>

<p>
    <a asp-controller="Inventory" asp-action="Delete">Delete Category</a>
</p>
--->
@if (Model.Count == 0)
{
    <p>No inventory yet!</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            
        </tr>
        @foreach (var evt in Model)
        {
            <tr>
                <td>@evt.Id</td>
                <td>@evt.Name</td>
                
            </tr>
        }
    </table>
}
