<header>
    <div class="d-flex justify-content-between align-items-right">
        <h1>@ViewData["Title"]</h1>
        @{
            if (User.Identity?.IsAuthenticated ?? false)
            {

            }
            else
            {
                <p>You have successfully logged out of the application.</p>
            }
        }
    </div>
</header>
