using Microsoft.AspNetCore.Mvc;

namespace Moonwalkers.wwwroot.css {
    table

{
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 10px;
    width: 100px;
    height: 100px;
}

th {
    background-color: #333;
    color: white;
}

td {
    border: 1px solid #ddd;
    position: relative;
}

.event-form {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
}

    .event-form form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .event-form input[type="text"] {
        margin-bottom: 10px;
    }

.event-list {
    margin: 0;
    padding: 0;
    list-style: disc;
}

}
